:root {
   --primary-color: #536dfe;
   --charcoal: #494949;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   transition: all .2s linear;
}

html {
   font-size: 16px;
   scroll-padding-top: 2rem;
   scroll-behavior: smooth;
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
   -webkit-text-size-adjust: 100%;
}

body {
   font-family: 'Poppins', sans-serif;
   color: var(--charcoal);
   font-size: 100%;
}

img {
   max-width: 100%;
}

a {
   text-decoration: none;
   cursor: pointer;
}

form {
   display: flex;
   flex-direction: column;
   font-size: 1rem;
}

form label {
   display: none;
}

input, textarea {
   border-radius: .25rem;
   background: #fff;
   border: 1px solid #ccc;
   outline: none;
   color: var(--charcoal);
   width: 100%;
   box-sizing: border-box;
   opacity: .75;
   font-family: 'Poppins', sans-serif;
   padding: .75rem .625rem;
   margin-bottom: 1rem;
   transition: .2s;
}

textarea {
   resize: none;
   line-height: 1.5;
}

input:hover, textarea:hover {
	box-shadow: 0 4px 10px rgb(0 0 0 / 4%), 0 4px 10px rgb(0 0 0 / 4%);
}

input:focus, textarea:focus {
   border: 1px solid var(--primary-color);
}

input:active, textarea:active {
   border: 1px solid var(--primary-color);
}

form button {
   background: var(--primary-color);
   color: #fff;
   padding: .75rem 1.5rem;
   display: inline-block;
   border: 1px solid transparent;
   border-radius: .25rem;
   text-transform: uppercase;
   letter-spacing: .03rem;
   text-align: center;
   font-weight: 600;
   margin-right: auto;
   cursor: pointer;
   transition: .3s;
}

header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   background: #fbfafa;
   padding: 1rem 3rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   z-index: 1000;
   transition: top .3s ease;
}

header a {
   text-transform: uppercase;
}

header .brand {
   font-size: 1rem;
   font-weight: 300;
   letter-spacing: .03rem;
   text-transform: uppercase;
   color: var(--charcoal);
}

header .brand span {
   color: var(--primary-color);
   font-weight: 600;
   letter-spacing: .07rem;
}

header .navbar a {
   font-size: .875rem;
   padding: 0 1rem;
   color:var(--charcoal);
   font-weight: 400;
   letter-spacing: .04rem;
}

header .navbar a.active, header .navbar a:hover {
   color: var(--primary-color);
}

header .icons i {
   cursor: pointer;
   text-align: center;
   font-size: 1.5rem;
   color: var(--primary-color);
   border-radius: 50%;
}

header .icons i:hover {
   transform: rotate(180deg);
}

header .icons .fas {
   display: none;
}

.container {
   padding: 0 1rem;
}

.filled-btn {
   background: var(--primary-color);
   color: #fff;
   padding: .75rem 1.5rem;
   display: inline-block;
   border-color: var(--primary-color);
   border-radius: .25rem;
   text-transform: uppercase;
   letter-spacing: .09rem;
   text-align: center;
   font-weight: 600;
   transition: .2s ease;
}

.filled-btn:hover {
   transform: scale(1.05);
}

section {
   padding: 3rem 0;
}

.home {
   height: 100vh;
   background: #fbfafa url(svgs/hello.svg) no-repeat bottom right/55%;
   object-fit: cover;
   color: var(--charcoal);
}

h1 {
   font-size: 3rem;
   font-weight: 300;
   line-height: 1.35;
}

h1 span {
   font-weight: 600;
   color: var(--primary-color);
   text-transform: uppercase;
   font-size: 3.75rem;
}

.home h4 {
   font-weight: 300;
   font-size: 1.25rem;
   margin-bottom: 1rem;
}

.home h4 span {
   color: var(--primary-color);
   font-weight: 600;
   font-size: 1.25rem;
}

section h2 {
   color: var(--primary-color);
   text-align: center;
   font-size: 2rem;
   margin-bottom: 1rem;
   font-weight: 500;
}

.about h5 {
   font-size: 1.25rem;
   font-weight: 400;
}

.accordion h5, .accordion-btn {
   font-size: 1.1rem;
}

.accordion button {
	border-radius: 0
}

.accordion button:focus:not(:focus-visible) {
	outline: 0
}

.accordion button {
   text-transform: none;
}

[type=button], [type=reset], [type=submit], .accordion button {
	-webkit-appearance: button
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), .accordion button:not(:disabled) {
	cursor: pointer
}

.collapse:not(.show) {
	display: none
}

.collapsing {
	height: 0;
	overflow: hidden;
	transition: height .35s ease
}

.accordion-btn {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	padding: 1rem 1.25rem;
	color: var(--charcoal);
	text-align: left;
	background-color: #fff;
	border: 0;
	border-radius: 0;
	overflow-anchor: none;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease
}

.accordion-btn .checkmark {
	margin-right: .75rem;
}

.accordion-btn:not(.collapsed) {
	color: var(--primary-color);
	background: rgba(83,109,254,0.1);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}

.accordion-btn:not(.collapsed)::after {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
	transform: rotate(-180deg)
}

.accordion-btn::after {
	flex-shrink: 0;
	width: 1.25rem;
	height: 1.25rem;
	margin-left: auto;
	content: "";
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-size: 1.25rem;
	transition: transform .2s ease-in-out
}

.accordion-btn:hover {
	z-index: 2;
}

.accordion-btn:focus {
	z-index: 3;
	border-color: #86b7fe;
	outline: 0;
}

.accordion-header {
	margin-bottom: 0
}

.accordion {
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.125)
}

.accordion:first-of-type {
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem
}

.accordion:first-of-type .accordion-btn {
	border-top-left-radius: calc(.25rem - 1px);
	border-top-right-radius: calc(.25rem - 1px)
}

.accordion:not(:first-of-type) {
	border-top: 0
}

.accordion:last-of-type {
	border-bottom-right-radius: .25rem;
	border-bottom-left-radius: .25rem
}

.accordion:last-of-type .accordion-btn.collapsed {
	border-bottom-right-radius: calc(.25rem - 1px);
	border-bottom-left-radius: calc(.25rem - 1px)
}

.accordion:last-of-type .accordion-collapse {
	border-bottom-right-radius: .25rem;
	border-bottom-left-radius: .25rem
}

.accordion-details {
	padding: 1rem 1.25rem;
   text-align: left;
}

.card {
   color: var(--charcoal);
   background: #fbfafa;
   padding: 1rem;
   border-radius: .5rem;
   text-align: center;
   margin-bottom: 1rem;
}

.card h3 {
   font-size: 1rem;
   font-weight: 600;
   margin-bottom: 1rem;
}

.card p {
   font-size: 1rem;
   font-weight: 300;
}

.card svg {
   color: var(--primary-color);
   margin-bottom: 1rem;
   width: 48px;
   height: 48px;
}

.card-alt {
   display: grid;
   grid-template-columns: auto auto;
   margin-bottom: 1rem;
   background: #fbfafa;
   padding: 1.5rem;
   border-radius: .25rem;
}

.card-alt img {
   border-radius: 50%;
   border: .375rem solid var(--primary-color);
   width: 6rem;
   object-fit: cover;
}

.card-alt div {
   margin-left: 1.25rem;
}

.card-alt p {
   font-size: .875rem;
   font-weight: 300;
   margin-bottom: 1rem;
   color: var(--charcoal);
}

.card-alt h3 {
   font-size: .875rem;
   color: var(--charcoal);
   font-weight: 600;
   line-height: 1;
}

.card-alt sub {
   font-weight: 300;
   font-size: .75rem;
}

progress {
   width: 100%;
   -webkit-appearance: none;
   appearance: none;
}

::-webkit-progress-bar {
   background: rgba(83,109,254,0.1);
   border-radius: .5rem;
}

::-webkit-progress-value {
   background: var(--primary-color);
   border-radius: .5rem;
}

.progress-bar {
   margin-bottom: 2rem;
}

.progress-bar h5 {
   display: flex;
   justify-content: space-between;
   font-weight: 500;
}

footer {
   background: #000;
   color: #fff;
   text-align: center;
   padding-top: 3rem;
   padding-bottom: 1.5rem;
}

footer img {
   height: 2.5rem;
   display: flex;
   margin: 0 auto 1rem;
}

footer ul {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 2rem auto 3rem;
   list-style: none;
}

footer li {
   margin: 0 1rem;
}

footer a {
   color: #fff;
   border: 1px solid #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 3rem;
   height: 3rem;
   border-radius: 50%;
   font-size: 1.15rem;
   transition: .15s ease;
}

footer a svg {
   width: 20px;
   height: 20px;
}

footer a:hover {
   background: var(--primary-color);
   border: 1px solid var(--primary-color);
}

footer p {
   font-weight: 400;
   font-size: .75rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

footer p svg {
   margin-right: .25rem;
   width: 12px;
   height: 12px;
}

@media (max-width:768px){
   header {
      padding: 1rem;
   }

   header .icons .fas, header .icons .menu {
      display: inline-block;
  }

   header .navbar {
       position: absolute;
       top: 100%;
       left: 0;
       right: 0;
       background: #fbfafa;
       padding: 1rem;
       clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }

   header .navbar.active {
       clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
       height: 100vh;
   }

   header .navbar a {
       display: block;
       padding: 1rem .5rem;
       margin: 1rem .5rem;
       font-size: 1.25rem;
   }

   section {
      padding: 2rem 0;
   }

   .home {
      background: #fbfafa url(svgs/hello.svg) no-repeat center left/cover;
      padding-top: 13rem;
      padding-left: 1rem;
   }

   .home h1 {
      font-size: 2rem;
   }

   .home h1 span {
      font-size: 3.25rem;
   }

   .home h4 {
      font-size: 1.25rem;
   }

   .card-alt {
      display: grid;
      grid-template-columns: 1fr;
      padding: 1rem .25rem;
   }

   .card-alt img {
      margin: 0 auto 1rem;
   }
}

@media (min-width: 768px) {
   header .icons {
       display: none;
   }

   .home {
      padding: 12rem 0 0 6rem;
   }
}

.container,.container-fluid {
   margin-right: auto;
   margin-left: auto;
}

.row {
   box-sizing: border-box;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-flex: 0;
   -ms-flex: 0 1 auto;
   flex: 0 1 auto;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -ms-flex-direction: row;
   flex-direction: row;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   margin-right: -.5rem;
   margin-left: -.5rem;
}

.col-xs,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-offset-0,.col-xs-offset-1,.col-xs-offset-10,.col-xs-offset-11,.col-xs-offset-12,.col-xs-offset-2,.col-xs-offset-3,.col-xs-offset-4,.col-xs-offset-5,.col-xs-offset-6,.col-xs-offset-7,.col-xs-offset-8,.col-xs-offset-9 {
   box-sizing: border-box;
   -webkit-box-flex: 0;
   -ms-flex: 0 0 auto;
   flex: 0 0 auto;
   padding-right: .5rem;
   padding-left: .5rem;
}

.col-xs-12 {
   -ms-flex-preferred-size: 100%;
   flex-basis: 100%;
   max-width: 100%;
}

@media only screen and (min-width: 48em) {
   .container {
       width: 49rem;
   }
}

@media only screen and (min-width: 64em) {
   .container {
       width: 65rem;
   }

   .col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-offset-0,.col-md-offset-1,.col-md-offset-10,.col-md-offset-11,.col-md-offset-12,.col-md-offset-2,.col-md-offset-3,.col-md-offset-4,.col-md-offset-5,.col-md-offset-6,.col-md-offset-7,.col-md-offset-8,.col-md-offset-9 {
       box-sizing: border-box;
       -webkit-box-flex: 0;
       -ms-flex: 0 0 auto;
       flex: 0 0 auto;
       padding-right: .5rem;
       padding-left: .5rem;
   }

   .col-md-4 {
       -ms-flex-preferred-size: 33.33333333%;
       flex-basis: 33.33333333%;
       max-width: 33.33333333%;
   }

   .col-md-5 {
       -ms-flex-preferred-size: 41.66666667%;
       flex-basis: 41.66666667%;
       max-width: 41.66666667%;
   }

   .col-md-6 {
       -ms-flex-preferred-size: 50%;
       flex-basis: 50%;
       max-width: 50%;
   }

   .col-md-12 {
       -ms-flex-preferred-size: 100%;
       flex-basis: 100%;
       max-width: 100%;
   }

   .center-md {
       -webkit-box-pack: center;
       -ms-flex-pack: center;
       justify-content: center;
       text-align: center;
   }

   .middle-md {
       -webkit-box-align: center;
       -ms-flex-align: center;
       align-items: center;
   }

   .around-md {
       -ms-flex-pack: distribute;
       justify-content: space-around;
   }
}

@media only screen and (min-width: 75em) {
   .container {
       width: 76rem;
   }
}
